/bin-debug
/bin-release
/html-template
/bin
/git-stats
/.metadata
/.svn

*/bin-debug
*/bin-release
*/html-template
*/libs
*/bin
*/git-stats
*/.metadata
*/.settings
*/.svn
*/assets

