/bin-debug
/bin-release
/html-template
/bin
/git-stats
/.metadata
/.svn

*/bin-debug
*/bin-release
*/html-template
*/lib
*/bin
*/git-stats
*/.metadata
*/.settings
*/.svn

/CWorldLib/.actionScriptProperties~HEAD
/CWorldLib/.actionScriptProperties~bc12b962a11cca740f077d6a46fad1383e1598e8
/CWorldLib/.flexLibProperties~HEAD
/CWorldLib/.flexLibProperties~bc12b962a11cca740f077d6a46fad1383e1598e8
